<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.semi.mapper.AccountMapper">

	<resultMap id="accountResultMap" type="com.goodee.semi.dto.Account">
		<result property="accountNo" column="account_no" />
		<result property="author" column="auth_no" />
		<result property="accountId" column="account_id" />
		<result property="accountPw" column="account_pw" />
		<result property="name" column="account_name" />
		<result property="available" column="account_avail" />
	</resultMap>
	
	<resultMap id="accountDetailResultMap" type="com.goodee.semi.dto.AccountDetail">
		<result property="accountNo" column="account_no" />
		<result property="author" column="auth_no" />
		<result property="accountId" column="account_id" />
		<result property="accountPw" column="account_pw" />
		<result property="name" column="account_name" />
		<result property="available" column="account_avail" />
		
		<result property="reg_date" column="reg_date" />
		<result property="gender" column="account_gender" />
		<result property="birth" column="bir_date" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="postNum" column="post_num" />
		<result property="address" column="address" />
		<result property="addressDetail" column="address_detail" />
	</resultMap>
	<insert id="insertAccount" parameterType="com.goodee.semi.dto.AccountDetail" useGeneratedKeys="true" keyProperty="accountNo">
		INSERT INTO account (auth_no, account_id, account_pw, account_name)
		VALUE (#{author}, #{accountId}, #{accountPw}, #{name})
	</insert>
	
	<insert id="insertAccountInfo" parameterType="com.goodee.semi.dto.AccountDetail">
		INSERT INTO account_info (account_no, account_gender, bir_date, phone, email, post_num, address, address_detail)
		VALUE (#{accountNo}, #{gender}, #{birth}, #{phone}, #{email}, #{postNum}, #{address}, #{addressDetail})
	</insert>
	
	<select id="loginInfo" parameterType="com.goodee.semi.dto.Account" resultMap="accountDetailResultMap">
		SELECT * FROM account A
		INNER JOIN account_info AI ON A.account_no = AI.account_no
		<where>
			A.account_id = #{accountId} AND A.account_pw = #{accountPw}
		</where>
	</select>
	
	<select id="selectAccountByNameAndEmail" parameterType="com.goodee.semi.dto.AccountDetail" resultMap="accountResultMap">
		SELECT * FROM account A
		INNER JOIN account_info AI ON A.account_no = AI.account_no
		<where>
			A.account_name = #{name} AND AI.email = #{email}
		</where>
	</select>
	<select id="selectAccountDetail" parameterType="string" resultMap="accountDetailResultMap">
		SELECT u.account_name ,i.*
		FROM account AS u
		JOIN account_info AS i ON u.account_no = i.account_no
		WHERE u.account_id = #{ accountId }
	</select>
	<update id="updateAccountDetail" parameterType="com.goodee.semi.dto.AccountDetail">
		UPDATE account_info
		SET account_gender = #{ gender }
			,email = #{ email }
			,phone = #{ phone }
			,post_num = #{ postNum }
			,address = #{ address }
			,address_detail = #{ addressDetail }
		WHERE account_no = #{ accountNo }
	</update>
	<select id="checkIdPw" parameterType="com.goodee.semi.dto.Account" resultType="_int">
		SELECT COUNT(*)
		FROM account
		WHERE account_id = #{ accountId } AND account_pw = #{ accountPw }
	</select>
	<update id="deactivateAccount" parameterType="com.goodee.semi.dto.Account">
	UPDATE account
	SET account_avail = 'N'
	WHERE account_id = #{ accountId } AND account_pw = #{ accountPw }
	</update>
</mapper>