<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.semi.mapper.ClassMapper">
	<resultMap type="com.goodee.semi.dto.PetClass" id="classResultMap">
		<result property="classNo" column="class_no"/>
		<result property="courseNo" column="course_no"/>
		<result property="petNo" column="pet_no"/>
		<result property="classProg" column="class_prog"/>
		
		<result property="courseTitle" column="title"/>
		<result property="accountNo" column="account_no"/>
		<result property="petName" column="pet_name"/>
	</resultMap>
	
	<select id="selectClass" parameterType="_int" resultMap="classResultMap">
		SELECT * FROM class
		<where>
			class_no = #{classNo}
		</where>
	</select>
	
	<select id="selectClassByCourseNoAndPetNo" parameterType="com.goodee.semi.dto.PetClass" resultMap="classResultMap">
		SELECT * FROM class
		<where>
			course_no = #{courseNo} AND pet_no = #{petNo}
		</where>
	</select>

	<delete id="deleteClass" parameterType="_int">
		DELETE FROM class
		<where>
			class_no = #{classNo}
		</where>
	</delete>
	
	<select id="selectListByAccountNo" parameterType="_int" resultMap="classResultMap">
		SELECT c.* ,co.title ,p.account_no ,pet_name
		FROM class AS c
		JOIN (
			SELECT course_no ,title
			FROM course
		) AS co ON c.course_no = co.course_no
		JOIN (
			SELECT pet_no ,pet_name ,account_no
			FROM pet
		) AS p ON c.pet_no = p.pet_no
		WHERE p.account_no = #{ accountNo } AND c.class_prog = 100
	</select>
	
	<select id="selectClassListByAccountDetail" parameterType="com.goodee.semi.dto.Account" resultMap="classResultMap">
		SELECT 
				C.class_no
			, C.course_no
			, C.pet_no
			, P.pet_name
			, CS.title 
		FROM class C
		INNER JOIN pet P ON C.pet_no = P.pet_no
		INNER JOIN course CS ON C.course_no = CS.course_no
		<where>
			P.account_no = #{accountNo}
		</where>
	</select>
</mapper>