<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.semi.mapper.CourseMapper">

	<resultMap id="courseResultMap" type="com.goodee.semi.dto.Course">
		<result property="courseNo" column="course_no" />
		<result property="accountNo" column="account_no" />
		<result property="title" column="title" />
		<result property="subTitle" column="sub_title" />
		<result property="object" column="object" />
		<result property="totalStep" column="total_step" />
		<result property="capacity" column="capacity" />
		<result property="thumb" column="thumb" />
		<result property="name" column="account_name" />
	</resultMap>
	
	<resultMap id="attachResultMap" type="com.goodee.semi.dto.Attach">
		<result property="attachNo" column="attach_no" />
		<result property="typeNo" column="type_no" />
		<result property="pkNo" column="pk_no" />
		<result property="originName" column="ori_name" />
		<result property="savedName" column="save_name" />
	</resultMap>
	
	<select id="selectCourseOne" parameterType="string" resultMap="courseResultMap">
		SELECT
				C.course_no
			, C.account_no
			, C.title
			, C.sub_title
			, C.object
			, C.total_step
			, C.capacity
			, C.thumb
			, A.account_name
		FROM course C
		INNER JOIN account A ON C.account_no = A.account_no
		<where>
			C.course_no = #{courseNo}
		</where>
	</select>
	
	<select id="selectCourse" parameterType="com.goodee.semi.dto.Course" resultMap="courseResultMap">
		SELECT
				C.course_no
			, C.account_no
			, C.title
			, C.sub_title
			, C.object
			, C.total_step
			, C.capacity
			, C.thumb
			, A.account_name
		FROM course C
		INNER JOIN account A ON C.account_no = A.account_no
		<where>
			<if test='title != null and title != ""'>
				AND C.title LIKE CONCAT('%', #{title}, '%')
			</if>
			
			<if test='name != null and name != ""'>
				AND A.account_name LIKE CONCAT('%', #{name}, '%')
			</if>
		</where>
	</select>
	
	<select id="selectThumbAttach" parameterType="com.goodee.semi.dto.Course" resultMap="attachResultMap">
		SELECT * FROM attachment
		<where>
			type_no = 3 AND pk_no = #{courseNo} AND attach_no = #{thumb}
		</where>
	</select>
	
	<select id="selectInputAttach" parameterType="com.goodee.semi.dto.Course" resultMap="attachResultMap">
		SELECT * FROM attachment
		<where>
			type_no = 3 AND pk_no = #{courseNo} AND NOT attach_no = #{thumb}
		</where>
	</select>

	<insert id="insertCourse" parameterType="com.goodee.semi.dto.Course" useGeneratedKeys="true" keyProperty="courseNo">
		INSERT INTO course (account_no, title, sub_title, object, total_step, capacity)
		VALUE (#{accountNo}, #{title}, #{subTitle}, #{object}, #{totalStep}, #{capacity})
	</insert>
	
	<insert id="insertAttach" parameterType="com.goodee.semi.dto.Attach" useGeneratedKeys="true" keyProperty="attachNo">
		INSERT INTO attachment (type_no, pk_no, ori_name, save_name)
		VALUE (#{typeNo}, #{pkNo}, #{originName}, #{savedName})
	</insert>
	
	<update id="updateCourseThumb" parameterType="com.goodee.semi.dto.Course">
		UPDATE course
		SET thumb = #{thumb}
		<where>
			course_no = #{courseNo}
		</where>
	</update>
	
	<insert id="insertLike" parameterType="com.goodee.semi.dto.Like">
		INSERT INTO picked_course (course_no, account_no)
		VALUE (#{courseNo}, #{accountNo})
	</insert>
	
	<delete id="deleteLike" parameterType="com.goodee.semi.dto.Like">
		DELETE FROM picked_course
		<where>
			course_no = #{courseNo} AND account_no = #{accountNo}
		</where>
	</delete>
</mapper>