<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodee.semi.mapper.NoticeMapper">

  <!-- 공지사항 매핑 -->
  <resultMap id="noticeResultMap" type="com.goodee.semi.dto.Notice">
    <result property="noticeNo" column="notice_no"/>
    <result property="accountNo" column="account_no"/>
    <result property="noticeTitle" column="notice_title"/>
    <result property="noticeContent" column="notice_content"/>
    <result property="regDate" column="reg_date"/>
    <result property="modDate" column="mod_date"/>
    <result property="writer" column="writer"/>
    <result property="nailUp" column="nail_up"/>
  </resultMap>

 

  <!-- 공지사항 목록 -->
  <select id="selectList" resultMap="noticeResultMap">
    SELECT n.notice_no,
           n.account_no,
           n.notice_title,
           n.notice_content,
           DATE_FORMAT(n.reg_date, '%Y-%m-%d') AS reg_date,
           DATE_FORMAT(n.mod_date, '%Y-%m-%d') AS mod_date,
           a.account_name AS writer,
           n.nail_up
    FROM notice n
    JOIN account a ON n.account_no = a.account_no
    <where>
      <if test="keyword != null and keyword != ''">
        (n.notice_title LIKE CONCAT('%', #{keyword}, '%')
        OR a.account_name LIKE CONCAT('%', #{keyword}, '%'))
      </if>
    </where>
    ORDER BY 
      CASE WHEN n.nail_up = 'Y' THEN 1 ELSE 0 END DESC,
      n.notice_no DESC
    LIMIT #{limitPageNo}, #{numPerPage}
  </select>

  <!-- 총 개수 -->
  <select id="selectListCount" resultType="_int" parameterType="com.goodee.semi.dto.Notice">
    SELECT COUNT(*)
    FROM notice n
    JOIN account a ON n.account_no = a.account_no
    <where>
      <if test="keyword != null and keyword != ''">
        n.notice_title LIKE CONCAT('%', #{keyword},'%') 
        OR a.account_name LIKE CONCAT('%', #{keyword},'%') 
      </if> 	 	
    </where>
  </select>

  <!-- 공지사항 등록 -->
  <insert id="insertNotice" parameterType="com.goodee.semi.dto.Notice" useGeneratedKeys="true" keyProperty="noticeNo">
    INSERT INTO notice (notice_title, notice_content, account_no, nail_up)
    VALUES (#{noticeTitle}, #{noticeContent}, #{accountNo}, #{nailUp})
  </insert>

  <!-- 공지사항 상세 -->
  <select id="selectNoticeDetail" resultMap="noticeResultMap" parameterType="int">
    SELECT n.notice_no,
           n.account_no,
           n.notice_title,
           n.notice_content,
           DATE_FORMAT(n.reg_date, '%Y-%m-%d') AS reg_date,
           a.account_name AS writer,
           n.nail_up
    FROM notice n
    JOIN account a ON n.account_no = a.account_no
    WHERE n.notice_no = #{noticeNo}
  </select>

  <!-- 공지사항 수정 -->
  <update id="updateNotice" parameterType="com.goodee.semi.dto.Notice">
    UPDATE notice
    SET notice_title = #{noticeTitle},
        notice_content = #{noticeContent},
        nail_up = #{nailUp}
    WHERE notice_no = #{noticeNo}
  </update>

  <delete id="deleteNotice" parameterType="int">
  	DELETE FROM notice
  	WHERE notice_no = #{noticeNo}
  </delete>
</mapper>
