<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.semi.mapper.PetMapper">

	<resultMap id="petResultMap" type="com.goodee.semi.dto.Pet">
		<result property="petNo" column="pet_no" />
		<result property="accountNo" column="account_no" />
		<result property="petName" column="pet_name" />
		<result property="petGender" column="pet_gender" />
		<result property="petAge" column="pet_age" />
		<result property="petBreed" column="pet_breed" />
		<result property="imgFilePath" column="type_path" />
		<result property="imgFileSaveName" column="save_name" />
	</resultMap>
	
	<select id="selectPetList" parameterType="com.goodee.semi.dto.Pet" resultMap="petResultMap">
		SELECT pet_no, account_no, pet_name, pet_gender, pet_age, pet_breed, type_path, save_name
		FROM pet p
		JOIN attachment a ON (p.pet_no = a.pk_no)
		JOIN attach_type at ON (a.type_no = at.type_no)
		<where>
			account_no = #{accountNo}
		</where>
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<select id="selectPetCount" resultType="_int" parameterType="com.goodee.semi.dto.Pet">
		SELECT COUNT(*)
		FROM pet
		<where>
			account_no = #{accountNo}
		</where>
	</select>
	
	<update id="updatePet" parameterType="com.goodee.semi.dto.Pet">
		UPDATE pet
		SET pet_name = #{petName}
		<where>
			account_no = #{accountNo}
			AND pet_no = #{petNo}
		</where>
	</update>
	
	<delete id="deletePet" parameterType="_int">
		DELETE
		FROM pet
		<where>
			pet_no = #{petNo}
		</where>
	</delete>
</mapper>