<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.semi.mapper.PreCourseMapper">
	<resultMap type="com.goodee.semi.dto.PreCourse" id="preCourseResultMap">
		<result property="preNo" column="pre_no"/>
		<result property="courseNo" column="course_no"/>
		<result property="preTitle" column="pre_title"/>
		<result property="videoLen" column="video_len"/>
	</resultMap>
	
	<select id="selectList" parameterType="_int" resultMap="preCourseResultMap">
		SELECT *
		FROM pre_course
		WHERE course_no = (
			SELECT course_no
			FROM course
			WHERE course_no = #{ courseNo }
		)
	</select>
	
	<insert id="insertPreCourse" parameterType="com.goodee.semi.dto.PreCourse">
		INSERT INTO pre_course (`course_no`, `pre_title`, `video_len`)
		VALUE (#{ courseNo } ,#{ preTitle } ,#{ videoLen })
	</insert>
</mapper>