<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.semi.mapper.PreProgressMapper">
	<resultMap type="com.goodee.semi.dto.PreProgress" id="preProgResultMap">
		<result property="progNo" column="prog_no"/>
		<result property="preNo" column="pre_no"/>
		<result property="classNo" column="class_no"/>
		<result property="watchLen" column="watch_len"/>
		<result property="preProg" column="pre_prog"/>
		
		<result property="accountNo" column="account_no"/>
		<result property="petNo" column="pet_no"/>
	</resultMap>
	
	<insert id="insertOneWithAccountNo" parameterType="com.goodee.semi.dto.PreProgress"
		useGeneratedKeys="true" keyProperty="progNo">
		INSERT INTO pre_progress (`pre_no` ,`class_no` ,`watch_len` ,`pre_prog`)
		VALUE (
			#{ preNo }
			,(
				SELECT c.class_no
				FROM class AS c
				JOIN (
					SELECT course_no ,pre_no
					FROM pre_course
					WHERE pre_no = #{ preNo }
				) AS co ON c.course_no = co.course_no
				JOIN (
					SELECT pet_no ,account_no
					FROM pet
					WHERE pet_no = #{ petNo } AND account_no = #{ accountNo }
				) AS p ON c.pet_no = p.pet_no
			)
			,#{ watchLen }
			,#{ preProg }
		)
	</insert>
	
	<select id="countOne" parameterType="com.goodee.semi.dto.PreProgress" resultType="_int">
		SELECT COUNT(*)
		FROM pre_progress AS pp
		WHERE pre_no = #{ preNo } AND class_no = (
			SELECT c.class_no
			FROM class AS c
			JOIN (
				SELECT course_no ,pre_no
				FROM pre_course
				WHERE pre_no = #{ preNo }
			) AS co ON c.course_no = co.course_no
			JOIN (
				SELECT pet_no ,account_no
				FROM pet
				WHERE pet_no = #{ petNo } AND account_no = #{ accountNo }
			) AS p ON c.pet_no = p.pet_no
		)
	</select>
	
	<update id="update" parameterType="com.goodee.semi.dto.PreProgress">
		UPDATE pre_progress
		SET watch_len = #{ watchLen }, pre_prog = #{ preProg }
		WHERE pre_no = #{ preNo } AND class_no = (
			SELECT c.class_no
			FROM class AS c
			JOIN (
				SELECT course_no ,pre_no
				FROM pre_course
				WHERE pre_no = #{ preNo }
			) AS co ON c.course_no = co.course_no
			JOIN (
				SELECT pet_no ,account_no
				FROM pet
				WHERE pet_no = #{ petNo } AND account_no = #{ accountNo }
			) AS p ON c.pet_no = p.pet_no
		)
	</update>
	
	<select id="selectOne" parameterType="com.goodee.semi.dto.PreProgress" resultMap="preProgResultMap">
		SELECT *
		FROM pre_progress
		WHERE pre_no = #{ preNo } AND class_no = (
			SELECT c.class_no
			FROM class AS c
			JOIN (
				SELECT course_no ,pre_no
				FROM pre_course
				WHERE pre_no = #{ preNo }
			) AS co ON c.course_no = co.course_no
			JOIN (
				SELECT pet_no ,account_no
				FROM pet
				WHERE pet_no = #{ petNo }
			) AS p ON c.pet_no = p.pet_no
		) 
	</select>
	
	<select id="selectProg" parameterType="com.goodee.semi.dto.PreProgress" resultMap="preProgResultMap">
		SELECT pre_prog
		FROM pre_progress
		WHERE class_no = #{ classNo } AND pre_no = #{ preNo } AND pre_prog IS NOT NULL
	</select>

</mapper>