<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.semi.mapper.QuestionMapper">
	<resultMap id="questionResultMap"  type="com.goodee.semi.dto.Question">
		<result property="questNo" column="quest_no" />	
		<result property="accountNo" column="account_no" />	
		<result property="questTitle" column="quest_title" />	
		<result property="questContent" column="quest_content" />
		<result property="questReg" column="quest_reg" />	
		<result property="questMod" column="quest_mod" />
		<result property="accountId" column="account_id" />		
	</resultMap>
	
	<select id="selectAllList" resultMap="questionResultMap" parameterType="com.goodee.semi.dto.Question">
		SELECT a.account_id
			,q.quest_no
			,q.quest_title
			,q.quest_reg
			,q.quest_content
			,q.account_no
			,DATE_FORMAT(q.quest_reg, '%Y-%m-%d') AS quest_reg
			,DATE_FORMAT(q.quest_mod, '%Y-%m-%d') AS quest_mod
		FROM question q
		JOIN account a ON q.account_no = a.account_no
		<choose>
			<when test="searchBy == 1">
				WHERE quest_title LIKE CONCAT ('%',#{keyword},'%')
			</when>
			<when test="searchBy == 2">
				WHERE quest_title LIKE CONCAT ('%',#{keyword},'%')
				OR quest_content LIKE CONCAT ('%',#{keyword},'%')
			</when>
			<when test="searchBy == 3">
				WHERE a.account_id LIKE CONCAT ('%',#{keyword},'%')
			</when>
		</choose>
		<choose>
			<when test="orderBy == 0">
				ORDER BY q.quest_mod DESC
			</when>
			<when test="orderBy == 1">
				ORDER BY q.quest_mod DESC
			</when>
			<when test="orderBy == 2">
				ORDER BY q.quest_mod ASC
			</when>
			<otherwise>
				ORDER BY q.quest_mod DESC
			</otherwise>
		</choose>
		LIMIT #{limitPageNo},#{numPerPage}
	</select>

	<select id="selectOneQuest" resultMap="questionResultMap" parameterType="_int">
		SELECT *
		FROM question
		WHERE quest_no = #{questNo}
	</select>
	
	<insert id="insertQuestion" parameterType="com.goodee.semi.dto.Question">
		INSERT INTO question (account_no, quest_title, quest_content)
		VALUES (#{accountNo} ,#{questTitle} ,#{questContent})
	</insert>
	
	<delete id="deleteQuestion" parameterType="_int">
		DELETE FROM question
		WHERE quest_no = #{questNo}
	</delete>
	
	<update id="updateQuestion" parameterType="com.goodee.semi.dto.Question">
		UPDATE question
		SET quest_title = #{questTitle}
		,quest_Content = #{questContent}
		WHERE quest_no = #{questNo}
	</update>
	
	<select id="selectQuestionCount" resultType="_int" parameterType="com.goodee.semi.dto.Question">
		SELECT COUNT(*)
		FROM question q
		JOIN account a ON q.account_no = a.account_no
		<choose>
			<when test="searchBy == 1">
				WHERE quest_title LIKE CONCAT ('%',#{keyword},'%')
			</when>
			<when test="searchBy == 2">
				WHERE quest_title LIKE CONCAT ('%',#{keyword},'%')
				OR quest_content LIKE CONCAT ('%',#{keyword},'%')
			</when>
			<when test="searchBy == 3">
				WHERE a.account_id LIKE CONCAT ('%',#{keyword},'%')
			</when>
		</choose>
	</select>
</mapper>