<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="driver.properties" />
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${userpw}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="/mappers/account-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
    <mapper resource="/mappers/question-mapper.xml"/>
		<mapper resource="/mappers/pet-mapper.xml"/>
		<mapper resource="/mappers/precourse-mapper.xml"/>
	  <mapper resource="/mappers/review-mapper.xml"/>
	  <mapper resource="/mappers/course-mapper.xml"/>
	  <mapper resource="/mappers/answer-mapper.xml"/>
	  <mapper resource="/mappers/attach-mapper.xml"/>
	  <mapper resource="/mappers/class-mapper.xml"/>
	</mappers>
</configuration>